@charset "utf-8";
@import '../../node_modules/bulma/sass/utilities/initial-variables.sass';
// @import '../../node_modules/bulma/sass/utilities/_all.sass';

// Backgound Color
$body-background-color: #001e26;

// Pallet Colors
$primary: #00dc82;

// Navbar Customization
$navbar-padding-horizontal: 4rem;
$navbar-item-color: #ffffff;

// Font Customization
$title-color: #ffffff;
$title-strong-color: #ffffff;
$text: #ffffff;

// Card Customization
$card-background-color: #003543;
$card-header-background-color: $body-background-color;
$card-header-color: #ffffff;

// Footer Customization
$footer-background-color: $primary;
$footer-padding: 1.5rem 1.5rem 1rem;

// Sidebar CUstomization
$sidebar-colors: #003543;
$sidebar-background: $primary;
$menu-item-hover-background-color: $primary;
$menu-item-active-background-color: $primary;
$menu-list-link-padding: 0.8em 4em;
$menu-item-radius: 8px;
$sidebar-width: 320px;

@import '../../node_modules/bulma/bulma.sass';
@import '../../node_modules/buefy/src/scss/buefy.scss';
